.list {

}

$list-bg: #fff;

.list--file {
  padding: 0;
}

.list__item {
  position: relative;
  display: block;
  margin: $line-height-computed 0;
  padding: $line-height-computed;

  background: $list-bg;

  a {
    color: $gray-light;
  }

  &:hover,
  &:active,
  &:focus {
    .list__delete-icon {
      opacity: 1;
      transform: translateX(0);
      transition: all .3s ease-in-out;
    }
  }
}

.list__icon {
  opacity: .7;
  margin-right: $line-height-computed;
}
$icon-size: 30px;
.list__delete-icon {
  @include btn-reset;
  position: absolute;
  top: $line-height-computed;
  right: $line-height-computed;

  opacity: 0;
  transform: translateX($icon-size);

  color: $gray-light;
  cursor: pointer;

  &:hover,
  &:active,
  &:focus {
    color: $btn-danger-bg;
  }

}