$icon-font-path: '/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/';

$body-bg: #f5f5f5;

@import 'bootstrap-sass-official/assets/stylesheets/bootstrap',
'button',
'list';

.header {
}

.app {
  min-height: 500px;

  .list--file {
    margin-top: 20px // margin from the navbar;
  }
}

.footer {
  margin-top: $line-height-computed;
  border-top: 1px solid $gray-lighter;
}
