$icon-font-path: '../fonts/';

$body-bg: #f5f5f5;
$navbar-default-bg: #fff;

@import 'bootstrap-sass-official/assets/stylesheets/bootstrap',
'button',
'list';

.header {
}

.app {
  min-height: 500px;

  .list--file {
    margin-top: $line-height-computed;
  }
}

.footer {
  margin-top: $line-height-computed;
  border-top: 1px solid $gray-lighter;
}
